.profile-overview-tab {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.stat-display-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 30px;
    gap: 10px;
}

#most-starred-repo .repository-card {
    margin-top: 20px;
}

.recent-repos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}